@import url(./global.css);

.loginBtn {
    color: #fff;
    background-color: rgb(0, 86, 125) !important;
}
.loginBtn:hover {
    --pf-c-button--m-primary--Color: #fff;
    --pf-c-button--m-primary--BackgroundColor: rgb(0, 70, 103) !important;
}
.loginBtn.pf-m-active,
.loginBtn:active {
    --pf-c-button--m-primary--Color: #fff;
    --pf-c-button--m-primary--BackgroundColor: rgb(0, 70, 103) !important;
}
a {
    color: rgb(0, 86, 125);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 70, 103) !important;
}

#kc-info {
    margin: 0;
}

#kc-info-wrapper {
    background-color: transparent;
}

.login-pf-page {
    padding: 0;
    display: flex;
}
.kcBodyClass {
    width: 100%;
}

.login-pf body {
    background: none;
}

.login-pf-page-header {
    background-color: #00587c;
    margin: 0 !important;
    position: relative;
}

.kcLocaleMainClass {
    display: none;
}

.damiaD {
    max-width: 280px;
    position: absolute;
    top: 0;
    left: 0;
}

.damiaSofa {
    max-width: 380px;
    position: absolute;
    bottom: 0;
    right: 20px;
}
