@import url(/src/login/assets/fonts/Sans/main.css);

body {
    font-family: Sans !important;
}

span {
    display: inline-block;
}

label {
    font-weight: 400;
}

.companyMiniLogo {
    position: absolute;
    left: 25px;
    top: 30px;
    width: 32px;
}

.kcLoginClass {
    display: flex;
}

.loginCard {
    box-shadow: none;
    padding: 40px;
    border: none;
    align-self: center;
}

.headerCompany {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.headerText {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.headerText * {
    text-align: start !important;
    place-self: start !important;
}
.login-pf-page-header {
    width: 60%;
}

.loginWrapper {
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.H1 {
    font-size: 28px !important;
    line-height: 40px !important;
}
.H2 {
    font-size: 24px !important;
    line-height: 32px !important;
    font-weight: bold !important;
}
.H3 {
    font-size: 18px !important;
    line-height: 24px !important;
}

.Subtitle1 {
    font-size: 15px !important;
    line-height: 16px !important;
}

.Body1 {
    font-size: 15px !important;
    line-height: 16px !important;
}

.Body2 {
    font-size: 13px !important;
    line-height: 16px !important;
}

.Body3 {
    font-size: 13px !important;
    line-height: 16px !important;
    font-weight: lighter !important;
}

.Btn.md {
    font-size: 15px !important;
    line-height: 16px !important;
}

.Table-Header {
    font-size: 13px !important;
    line-height: 16px !important;
}

.Chip {
    font-size: 13px !important;
    line-height: 16px !important;
}

.Input-text {
    font-size: 15px !important;
    line-height: 16px !important;
}

.Input-label-text {
    font-size: 13px !important;
    line-height: 16px !important;
}

.Input-helper-text {
    font-size: 13px !important;
    line-height: 16px !important;
}

.Overline {
    font-size: 12px !important;
    line-height: 16px !important;
}

.inputLogin,
.MuiOutlinedInput-input {
    width: 100%;
    box-sizing: border-box !important;
}

.MuiInputBase-root,
.MuiOutlinedInput-input {
    font-family: Sans !important;
    font-size: 13px !important;
    line-height: 16px !important;
}

.MuiOutlinedInput-root fieldset {
    border: 1px solid #a0aab4;
}

.MuiOutlinedInput-root:hover fieldset {
    border: 1px solid #323535;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
    border: 1px solid #323535 !important;
}

.rememberText {
    font-size: 15px !important;
    line-height: 16px !important;
    color: #2c3e50 !important;
    margin-left: 10px;
    display: block;
}

.checkbox,
.radio {
    margin: 0;
}

.checkbox label,
.radio label {
    display: flex;
    align-items: center;
}

/* global.css */
.checkbox input[type="checkbox"] {
    margin-top: 0px;
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px; /* Ajuste o tamanho conforme necessário */
}

.loginBtn {
    width: 100%;
    margin-top: 24px;
    font-family: Sans !important;
    text-transform: capitalize !important;
    font-size: 15px !important;
    border-radius: 6px !important;
}

@media screen and (max-width: 960px) {
    .loginWrapper {
        width: 100%;
        padding: 20px;
    }

    .login-pf-page-header {
        display: none;
    }
}

@media screen and (max-width: 1124px) {
    .loginWrapper {
        padding: 20px;
    }
}
