@import url(./global.css);

.loginBtn {
    color: #fff;
    background-color: #df2828 !important;
}
.loginBtn:hover {
    --pf-c-button--m-primary--Color: #fff;
    --pf-c-button--m-primary--BackgroundColor: #ae0000 !important;
}
.loginBtn.pf-m-active,
.loginBtn:active {
    --pf-c-button--m-primary--Color: #fff;
    --pf-c-button--m-primary--BackgroundColor: #ae0000 !important;
}

.MuiButtonBase-root.Mui-disabled.loginBtn {
    background-color: #ed989f !important;
    color: #fff !important;
}
a {
    color: #df2828;
    text-decoration: none;
}

a:hover {
    color: #ae0000 !important;
}

#kc-info {
    margin: 0;
}

#kc-info-wrapper {
    background-color: transparent;
}

.login-pf-page {
    padding: 0;
    display: flex;
}
.kcBodyClass {
    width: 100%;
}

.login-pf body {
    background: none;
}

.login-pf-page-header {
    background: url("/public/img/BG-Meta.jpg");
    margin: 0 !important;
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
}

.kcLocaleMainClass {
    display: none;
}
